{
  "extends": ["standard-with-typescript"],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "@typescript-eslint/return-await": "off",
    "@typescript-eslint/no-redeclare": "off",
    "@typescript-eslint/func-call-spacing":  "off",
    "@typescript-eslint/no-extraneous-class": "off",
    "@typescript-eslint/no-misused-promises": "off",
    "@typescript-eslint/prefer-nullish-coalescing": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "@typescript-eslint/method-signature-style": ["error", "method"],
  },
  "plugins": ["pug"]
}
